@import '@styles/variables';

.button {
    position: relative;
    padding: 10px 20px;
    background-color: map-get($colors, 'light', 'main');
    border: none;
    border-radius: 5px;
    color: map-get($colors, 'primary', 'main');
    font-weight: bold;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    }
    
    &:active {
        transform: translateY(0px);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    &.success {
        background-color: map-get($colors, 'success', 'main');
        color: white;

        &_outline {
            background-color: transparent;
            border: 1px solid map-get($colors, 'success', 'main');
            color: map-get($colors, 'success', 'main');
        }
    }

    &.danger {
        background-color: #ff0000;
        color: white;

        &_outline {
            background-color: transparent;
            border: 1px solid #ff0000;
            color: #ff0000;
        }
    }

    &.warning {
        background-color: #ff9900;
        color: white;
    }

    &.info {
        background-color: #0099cc;
        color: white;

        &_outline {
            background-color: transparent;
            border: 1px solid #0099cc;
            color: #0099cc;
        }
    }

    &.primary {
        background-color: #2e2cd7;
        color: white;
    }

    &.dark {
        background-color: #0e0e0e;
        color: white;

        &_outline {
            background-color: transparent;
            border: 1px solid #0e0e0e;
            color: #0e0e0e;
        }
    }

    &.sm {
        padding: 0.4rem 1.2rem;
        font-size: 0.8rem;
        font-weight: 500;
    }

    &.md {
        padding: 0.75rem 1.5rem;
        font-size: 1.2rem;
        font-weight: 500;
    }

    &.xl {
        padding: 1.5rem 3rem;
        font-size: 2.2rem;
        font-weight: 800;

        @media screen and (max-width: 767px) {
            font-size: 2rem;
        }
    }

    &.loading {
        pointer-events: none;
        
        .text {
            opacity: 0;
        }

        .spinner {
            opacity: 1;
        }
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    >div {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 3px solid rgba(255,255,255,.3);
        border-radius: 50%;
        border-top-color: #fff;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
    }
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}