$colors: (
    'primary': (
        'main': #ffbe2e,
        'light': #ffeecc,
        'dark': #d89400,
    ),
    'secondary': (
        'main': #8a8d93,
        'light': #9c9fa4,
        'dark': #4d5056,
    ),
    'info': (
        'main': #38a0ff,
        'light': #38a0ff,
        'dark': #38a0ff,
    ),
    'success': (
        'main': #56ca00,
        'light': #6ad01f,
        'dark': #378100,
    ),
    'warning': (
        'main': #ffb400,
        'light': #ffb547,
        'dark': #a37300,
    ),
    'danger': (
        'main': #ff4c51,
        'light': #ff6166,
        'dark': #a33134,
    ),
    'light': (
        'main': #fff,
        'light': #fff,
        'dark': #fff,
    ),
    'dark': (
        'main': #16110d,
        'light': #16110d,
        'dark': #16110d,
    ),
    'grey': (
        'main': #959595,
        'light': #f7f7f7,
        'dark': #16110d,
    ),
);

@mixin responsive {
    width: min(100% - 15px, 1400px);
    margin-inline: auto;
}

$shadows : (
    'text': 0px 3px 3px rgba(0,0,0,0.3),
    'button': 2px 3px 0px rgb(0, 0, 0),
    'active': 0 0 0.5rem 0 rgba(0, 0, 0, 0.6),
    'focus': 0 0 0.5rem 0 rgba(0, 0, 0, 0.8),
    'card': (
        'sm': 0 1px 2px 0 rgb(0 0 0 / 0.05),
        'md': 0 4px 6px -1px rgb(0 0 0 / 0.1),
        'lg': 0 10px 15px -3px rgb(0 0 0 / 0.1),
    )
);

$size: (
    'xs': 0.75rem,
    'sm': 0.875rem,
    'md': 1rem,
    'lg': 1.125rem,
    'xl': 1.25rem,
    'xxl': 1.5rem,
    'xxxl': 2rem,
    'xxxxl': 3rem,
);