@import '@styles/variables';

.collapse {
    .header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        transition: background-color 0.3s ease-in-out;
        font-size: 18px;
        font-weight: 600;

        &:hover {
            color: map-get($colors, 'primary', 'main');
        }

        div:last-child {
            font-size: 24px;
            margin-left: 10px;
            transition: transform 0.3s ease-in-out;
            color: map-get($colors, 'secondary', 'main');
        }
    }
    
    .content {
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        animation-name: slide-down;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}